@import url('reset.css');

html{
    font-family: 'Noto Serif TC', serif;
}

body{
    font-size: 14px;
    color: #333;
    
    
}

/*************************天***********************************/

header{

    height: 60px;
    
    background-color: #ECDFD3;
    display: flex;
    justify-content: space-between;

}

div.logo{
    margin: auto 0 auto 15px;
}

div.logo img{}

header ul{
    display: flex;
    padding-right: 30px;
    

}

header li{
    
    margin: auto 0 auto 30px;
}

header li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

header li a.index_a{
    border-bottom: 1.6px solid #333;
    padding-bottom: 2px;
}

header li a:hover{
    border-bottom: 1.6px solid #333;
    padding-bottom: 2px;
}

header ul li a.shopping_a:hover{
    color: #FFF6EE;
}

header ul li a.user_a:hover{
    color: #FFF6EE;
}

header i img{}

header ul i.fa-solid img{
    width: 17px;
}

header ul i.fas img{
    width: 15px;
}

/*************************************大圖區塊*****************************************************/
.big_bgi{
    width: 100%;
    height: 564px;
    margin: 0 auto;
}


.big_bgi h1{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    /* position: absolute; */
    /* left: 4%;
    top: 30%; */
}

.big_bgi p{
    font-family: 'Shadows Into Light Two', cursive;
    /* position: absolute; */
    /* top: 65%;
    left: -20%; */
}

div.big_bgi{
    background-image: url("../img/indexbigimg.svg");
    
    width: 100%;
    height: 564px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    
}

img.scroll{
    position: absolute;
    width: 36px;
    height: 152px;
    left: 23px;
    top: 386px;
}

h1.title pre{
    font-size: 40px;
    letter-spacing: 7px;
    line-height: 1.6;
    color: #5C3131;
    font-weight: 700;
   margin-left: 115px;
    margin-top: 180px;
    /* margin:103px 0 0 314px ; */
    width: 604px;
    height: 128px;
    /* border: 1px solid #000; */
    

}

p.titletext{
    font-size: 24px;
    color: #5C3131;
    /* border: 1px solid #000; */
    width: 150px;
    height: 35px;
    margin-left: 640px;
    margin-top: 37px;
    /* border: 1px solid #000; */
}

/**********************精選圖片**********************************/
article.commodity{
    overflow: hidden;
    background-image: url("../img/commodity_img.jpg");
    
    height: 100%;
    padding-bottom: 140px;
    /* border: 1px solid #000; */
    
    
}
article.commodity button{
    background-color: #8F6645;
    font-size: 16px;
    font-family: 'Noto Serif TC', serif;
    border: none;
    width: 87px;
    height: 45px;
    border-radius: 5px;
    font-weight: 300;
    margin-top: 80px;
    margin-left: 300px;
}

article.commodity button a{
    text-decoration: none;
    text-align: center;
    color: white;
    letter-spacing: .1em;
    margin-left: -7px;
    padding-top: 8px;
    /* border: 1px solid #000; */
    display: block;
    width: 87px;
    height: 35px;
    overflow: hidden;
    
}
i.fa-bars{
    display: none;
}

article.commodity h2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin: 70px auto;
    text-align: center;
    /* border: 1px solid #000; */
    width: 446px;
    height: 36px;

   
}


div.t1{
    background-color: #DABEA7;
    width: 445px;
    height: 428px;
   
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    
}
.commoditywar1 .topflowerleft{
    background-image: url("../img/Group\ 148\ \(1\).svg");
    position: absolute;
    width: 413.487px;
    height: 264.812px;
    left: -184px;
    top: 276px;
    transform: rotate(206deg);
    filter: none;
    

}

div.topflowerright{
    background-image: url("../img/Group\ 150.svg");
    position: absolute;
    width: 429.758px;
    height: 383.861px;
    right: -150px;
    top: 168px;
    transform: rotate(1deg);
    filter: none;
    
    
}

div.commoditywar1{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

img.commodity_item1{
    width: 445px;
    height: 428px;
    
    left: 640px;
    top: 800px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}


div.t1 h3{
    font-size: 36px;
    font-weight: 700;
    padding-top: 40px;
    margin-left: 40px;
    line-height: 1.6;
}

div.t1 p{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 1.6;
    font-family: 'Noto Serif TC', serif;

}

div.commoditywar2{
    display: flex;
    justify-content: center;
}


div.t2{
    margin-top: 100px;
    background-color: #DABEA7;
    width: 445px;
    height: 428px;
    /* margin-left: 640px; */
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}


div.t2 h3{
    font-size: 36px;
    font-weight: 700;
    padding-top: 40px;
    margin-left: 40px;
    line-height: 1.6;
}

div.t2 p{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 1.6;
    font-family: 'Noto Serif TC', serif;
}

div.t2 button.btn1{
    margin-left: 40px;
}

img.commodity_item2{
    position: relative;
    width: 445px;
    height: 428px;
    left: 0;
    top: 100px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

/*********************精選圖片****************************/

article.featured{
    background-color: #DABEA7;
    height: 550px;
    overflow: hidden;
}

article.featured h2{

    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin: 70px auto;
    text-align: center;
    /* border: 1px solid #000; */
    width: 547px;
    height: 36px;
}

article.featured ul{
    width: 1263px;
    height: 300px;
    margin: 0 auto;
    /* outline: 5px solid white; */

    display: flex;
}

article.featured li{
    background-size: cover;
    background-position: center center;

    transition: .5s;
   
}

article.featured .item1{
    background-image: url("../img/image1.svg");
    flex-grow: 1;
}

article.featured .item2{
    background-image: url("../img/item2.png");
    flex-grow: 1;
}

article.featured .item3{
    background-image: url("../img/item3.png");
    flex-grow: 1;
}

article.featured .item4{
    background-image: url("../img/item4.png");
    flex-grow: 1;
}

article.featured li:hover{
    flex-grow: 2;
    /* filter: blur(0); */
}

/******************特色*****************/

article.bottom{
    background-image: url("../img/bottom.png");
    /* height: 1200px; */
    padding-bottom: 120px;
    overflow: hidden;
}

.bottom h2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin: 70px auto;
    text-align: center;
    /* border: 1px solid #000; */
    width: 547px;
    height: 36px;
}

div.advantage{
    
}

.advantage ul{
    display: flex;
    margin-left: 40px;
    justify-content: center;
    
    
}

.advantage li{
    margin: 0 70px;
    /* border: 1px solid #000;  */
}

.advantage img{
    /* margin: 0 auto; */
}

.advantage li h4{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    letter-spacing: .1em;
}

.bottom img.line{
    
}

.advantage li p{
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;

}

div.contact{
    background-color: #DABEA7;
    display: flex;
    width: 890px;
    height: 350px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative; 
     z-index: 2;
}

.leftlogo{
    width: 237px;
    height: 283px;
    margin-top: 20px;
    margin-left: 35px;
    
}

.leftlogo .logoimg{}

.righttext .rwdrighttext{
    display: none;
}

.righttext p{
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.1em;
    /* border: 1px solid #000; */
    margin-left: 70px;
    margin-top: 20px;

}

.righttext iframe{
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 5px;
}
.righttext .rwdmap{
    display: none;
}

img.divline{
    height: 311px;
    margin-top: 20px;
    margin-left: 30px;
}
div.bottomflower{
    position: absolute;
    transform: rotate(90deg);
    right: -73px;
    top: 3350px;
    opacity: .5;
}


/********************footer*******************/
div.worring{
    font-size: 12px;
    background-color: #DABEA7;
    text-align: start;
}
footer{
    background-color: #DABEA7;
    /* height: 82px; */
    display: flex;
    justify-content: center;
}



.footerimg{
    margin-left: 50px;
}
.footerimg a{}

.footer .footerimg .footerlogo{
    height: 78px;
    padding-top: 3px;
}

.footertext{
    /* border: 1px solid #000; */
    margin-left: 100px;
    margin-top: 10px;
}

.footertext p{
    font-family: 'Noto Serif TC', serif;
    font-size: 12px;
    line-height: 1.8;
    
}

.footerul {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.footerul li{
    /* border: 1px solid #000;   */
    padding: 0 5px;
}

.footerul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.footerul li .index_a{
    border-bottom: 1.6px solid #333;
    padding-bottom: 2px;
}

.footerul li a:hover{
    border-bottom: 1.6px solid #333;
    padding-bottom: 2px;
}

.footericon {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 50px;
}

.footericon i{
    color: #333;
    margin-left: 30px;
}

.footericon .fa-instagram{
    font-size: 20px;
}

.footericon .fa-square-facebook{
    font-size: 20px;
}

.footericon .fa-line{}

@media screen and (max-width: 414px){
/*******************天*/
    body{
        width: 100vw;
    }


   header{
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px;
   }
    header ul{
        /* display: none; */
        padding-right: 0;
        margin-right: 10px;
        padding-left: 10px;
        
    }
    header li{
        margin:0 auto 0 auto;
    }
    /************************大圖 */
    div.big_bgi{
        width: 100vw;
        height: 271px;
        
        
    }
    .big_bgi .title pre{
        font-size: 22px;
        margin-left: 0;
        margin-top: 90px;
     
        height: 95px;
    }
    .big_bgi .scroll{
        width: 19px;
        top: 213px;
    }

    .big_bgi .titletext{
        margin-left: 300px;
        margin-top: 0;
        font-size: 18px;
    }

    /* i.fa-bars{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 20px;
    }
    header ul{
        display: block;
        position: fixed;
        height: 200px;
        width: 200px;
        background-color: #ECDFD3;
        right: 100px;
        top: 60px;
        transition: all .5s;
    }
    header li{

    }
    header a{
        color: white;
    }
    header .fa:hover ~ ul{
        right: -20px;
    } */

    /*********精選商品*********/

    .commodity{
        height: 100%;
        margin-bottom: -50px;
        
    }
    div.topflowerleft{
        display: none;
    }
    div.topflowerright{
        display: none;
    }
    article.commodity h2{
        font-size: 28px;
        margin: 70px auto;
        width: 100%;
    }
    div.commoditywar1{
        flex-direction: column-reverse;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));   
    }
    div.t1{
        width: 320px;
        height: 320px;
        margin: 0 auto;
        filter: none;
    }
    article.commodity button{
        margin-top: 48px;
        margin-left: 117px;

    }
    article.commodity button a{
        margin-left: -14px;
    }

    img.commodity_item1{
        width: 320px;
        height: 308px;
        margin: 0 auto;
        filter: none;
    }
    div.t1 h3{
        font-size: 24px;
        padding: 0;
        margin-left: 0;
        text-align: center;
        margin-top: 35px;
    }
    div.t1 p{
        font-size: 16px;
        margin-left: 0;
        text-align: center;
        margin-top: 30px;
    }

    div.commoditywar2{
        flex-direction: column;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        margin-top: 130px;
    }
    div.t2{
        width: 320px;
        height: 320px;
        margin: 0 auto;
        filter: none;
    }
    
    div.t2 h3{
        font-size: 24px;
        padding: 0;
        margin-left: 0;
        text-align: center;
        margin-top: 35px;
    }
    div.t2 p{
        font-size: 16px;
        margin-left: 0;
        text-align: center;
        margin-top: 30px;
    }
    div.t2 button.btn1{
        margin-top: 30px;
        margin-left: 117px;
    }
    img.commodity_item2{
        position: sticky;
        width: 320px;
        height: 308px;
        margin: 0 auto;
        filter: none;
    }



    /******************精選團片*****************************/
    article.featured{
        height: 100%;
        padding-bottom: 70px;
    }

    article.featured h2{
        font-size: 26px;
        margin: 0;
        margin-top: 70px;
        width: 100%;
        height: 0;
    }
    article.featured ul{
        margin-top: 70px;
        width: 100%;
        height: 150px;
    }
    article.featured li{
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        filter: grayscale();
    }

    /******************特色********************/

    article .bottom {
        display: none;
    }

    .bottom h2 {
        font-size: 28px;
        margin: 0;
        margin-top: 70px;
        width: 100%;
        height: 0;
    }
    .advantage ul{
        display: block;
        margin-left: 0;
        margin-top: 90px;
        
    }
    .advantage li{
        margin: 0 80px;
        margin-top: 50px;
    }

    .advantage li h4{
        font-size: 24px;
    }
    .advantage .line{
        display: none;
    }

    div.contact{
        display: block;
        width: 320px;
        height: auto;
        margin-top: 70px;
        overflow: hidden;
    }

    .leftlogo{
       margin: 0 auto;
    }
    
    img.divline{
        display: none;
    }
    .righttext p{
        display: none;
    }
    .righttext .rwdrighttext{
        display: block;
        font-size: 16px;
        margin: 0;
        text-align: center;
        line-height: 1.6;
        margin-top: 30px;
    }

    .righttext iframe{
        display: none;
    }
    .righttext .rwdmap{
        display: block;
        
        margin: 30px auto 50px auto;
    }

    div.bottomflower{
        display: none;
    }


    /*****************footer***********************/
    footer{
        flex-direction: column;
        padding-top: 10px;
        
    }
    .footerimg{
        margin-left: 0;
        margin: 0 auto;
    }
    .footertext{
        margin-left: 20px;
        
    }
    
    .footerul{
        display: none;
       
    }
    .footericon{
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;
    }
}
