@import url("reset.css");

html{
    font-family: 'Noto Serif TC', serif;
}

body{
    font-size: 14px;
    color: #333;
}
/******************麵包屑*********************/
div.nav pre a.user_a{
    text-decoration-line: underline;
}
/***************外層*************/

.userleft{
    background-image: url("../img/5669497-removebg\ 3\ \(2\).svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 321px;
    height: 619.578px;
    
    /* transform: rotate(90deg); */
    
   
}
.userright{
    background-image: url("../img/5669497-removebg\ 2\ \(1\).svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 321px;
    height: 619.578px;
    right: 0;
    top: 126px;
}
div.userwrapper{
    background-color: #DABEA7;
    height: 614px;
    overflow: hidden;
}

.userwrapper h2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin: 40px auto;
    text-align: center;
    /* border: 1px solid #000; */
    width: 520px;
    height: 36px;
}

/**********登入層*********/

.inleft{
    background-image: url("../img/bottomformbgi.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 490.72px;
    height: 400px;
    top: 248px;
    pointer-events: none;
}



.sing .singwarpper{
    width: 504px;
    height: 468px;
    background-color: #FFF6EE;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
}

.sing{
    /* border: 1px solid #000; */
    
    /* margin: 0 auto; */
    
    /* display: block; */
    display: flex;
    justify-content: center;
}

.sing h3{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    

}

.sing ul{
    /* border: 1px solid red; */
    
}

.sing li{
    /* margin-top: 70px; */
    /* margin: 0 130px; */
    /* border: 1px solid #000; */
    text-align: center;
    
}
.sing .idli{
    margin-top: 65px;

}

.sing .id{
    background-color: #FFF6EE;
	width: 200px;
	height: 25px;
    border:none;
	border-bottom   : 1px solid #ccc;
	padding-left: 5px;
	outline: 0;
    margin-left: 10px;
    /* border: 1px solid #000; */
}


.sing .passli{
    margin: 30px;
}
.sing .pass{
    background-color: #FFF6EE;
	width: 200px;
	height: 25px;
    border:none;
	border-bottom   : 1px solid #ccc;
	padding-left: 5px;
	outline: 0;
    margin-left: 10px;
}

.sing .id:focus{
    background-color: #DABEA7;
    border-radius: 5px;
}

.sing .pass:focus{
    background-color: #DABEA7;
    border-radius: 5px;
}

.sing .send{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    font-weight: 400;
    border-radius: 5px;

	width: 100px;
	height: 30px;
	font-size: 18px;
	background-color: #8F6645;
	color: white;
	border: 0;
	display: block;
	margin: 0 auto;
}


.sing a.singin{
    text-decoration: none;
    color: #8F6645;
    /* border: 1px solid #000; */
    margin: 0 auto;
    line-height: 2.5;
}
.sing .singtext{
    margin: 0 auto;
    margin-top: 20px;
    color: #999;
}
.sing .or{
    margin-top: 5px;
    color: #999;
}

.sing .othersing{
    margin-top: 10px;
    color: #999;
}


.sing p{
    text-align: center;
}

.other{
    text-align: center;
    margin-top: 20px;
}

.other i{
    color: #666;
    font-size: 18px;
    /* margin-left: 60px; */
    color: #8F6645;
    /* border: 2px solid #8F6645; */
    
}


.other .fa-apple{
    font-size: 22px;
    margin: 0 30px 0 30px;
}



































